.settings-box {
  background: black;
  padding: 20px;
}

.quick-setting-title {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.quick-setting-subtitle {
  font-size: 14px;
  color: grey;
}

.icon {
  color: white;
}

.list-item-title {
  font-size: 16px;
  color: white;
}

.toggle-row {
  padding: 6px 4px;
  color: white;
}

.toggle-label {
  font-weight: 500;
  color: white;
}
