.settings-box {
  background: black;
  padding: 20px;
}

.quick-setting-title {
  font-size: 18px; 
  font-weight: bold;
  color: white;
}

.quick-setting-subtitle {
  font-size: 14px;
  color: grey;
}

.icon {
  color: white;
}
